#banner {
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    height: 700px;
    object-fit: cover;
}

h1 {

}

.restaurant-btn {
    background-color: #d51a27;
    width: 10%;
    height: 70px;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 250px;
}

.restaurant-btn:hover {
    background-color: #d51a27;
    color: #fff;
}

.text-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
